.badge {
    padding: 8px 16px;
    color: #fff;
    border-radius: 24px;
}

.success {
    background-color: lightgreen;
}

.warning {
    background-color: goldenrod;
}

.error {
    background-color: crimson;
}